*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Yusei Magic', sans-serif;
}
section{
    background-color: #232323;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::after{
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #ef3b36;
    clip-path: circle(65% at 100% -20%);
}
section::before{
    content: '';
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #47aafa;
    clip-path: circle(45% at 0% 100%);
}
.container{
    width: 80%;
    margin: 0 auto;
}
.product{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1111;
}
.product .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(163, 163, 163, 0.2);
    padding: 20px 10px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(15px);
    height: 400px;
    margin: 20px 40px;
}
.product .card .imgBox{
    transition: 0.5s;
}
.product .card:hover .imgBox{
    transform: translateY(-50px);
}
.imgBox img{
 transform: rotate(30deg);
 transition: .5s;
}
.card:hover .imgBox img{
    transform: translate(-30px, -30px) scale(1.2);
}
.product .card .contentBox{
    transform: translateY(-30px);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.product .card:hover .contentBox{
    transform: translateY(-45px);
    opacity: 1;
    visibility: visible;
}
.product .contentBox .size h2,
.product .contentBox .color h2{
    color: white;
    margin-right: 10px;
    font-size: 18px;
}
.product .contentBox .size,
.product .contentBox .color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.product .contentBox .size span{
    background-color: white;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    line-height: 20px;
    cursor: pointer;
}
.product .contentBox .size span:hover{
    background-color: #ef3b36;
    color: white;
}
.product .contentBox .color span{
    background-color: white;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(39, 39, 39);
    cursor: pointer;
}
.product .contentBox .color span:nth-child(2){
    background-color: red;
}
.product .contentBox .color span:nth-child(3){
    background-color: rgb(25, 199, 92);
}
.contentBox .buyNow{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    background-color: #3FA3F5;
    padding: 10px 20px;
    border-radius: 30px;
    display: inline-block;
}